extends layout

block content
  if (!currentUser || !currentUser.membershipStatus)
    div.messagesHeaderContainer
      h1.messagesHeader Messages
    div.messagesContainer
      for message in allMessages 
        div.messageContainer
          h5.messageTitle #{message.title}
          p.message #{message.message}
          hr.divider
          p.note Note: You have to join the club to see whom this message is written by and when.
  else
    div.messagesHeaderContainer
      h1.messagesHeader Messages
    div.messagesContainer
      for message in allMessages 
        div.messageContainer
          h5.messageTitle #{message.title}
          p.message #{message.message}
          hr.divider
          div.timeDateAndDelete
            div.timeAndDate
              p.writtenBy
                span(style='color: #6b7280') by 
                | #{message.user.username}
              p.messageTime #{message.timeStamp}
            a(href=`/message/${message.id}/delete`)
              button.deleteMessageButton Delete